doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Modal with only CSS3
        link(rel='stylesheet', href='./modal.css')
    body
        label(for='modal').btn Modal

        input#modal.modal-input(type="checkbox")
        label(for='modal').modal-bg
        .modal
            .modal-header
                label(for='modal').modal-header-close X
                h3.modal-header-title Modal Title
            .modal-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
